@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-div{
  display: flex;
  justify-content: space-between;
}
.heading {
  font-family: Poppins;
  text-decoration: none;
  color: white;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin-top: 40px;
}

.grid-child {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.grid-child:hover {
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h3 {
  font-family: Poppins;
  font-weight: 700;
}

.grid-child p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
}

.text-area {
  font-size: 20px;
  padding: 10px;
  font-family: Poppins;
  /* max-width: 768px; */
  min-width:200px;
}

.action-btn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

a .action-btn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.result-text {
  font-family: Poppins;
  font-size: 25px;
  line-height: 2.5rem;
}

.trns-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.clearPdr.dev-banner{
  display: hidden;
}
.chat-gpt-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.qsn-text img{
  padding-top: 5px;
}